#!/usr/bin/env python

# The urls list maps an index to a file name.
# The file name is relative to the top directory
# of the blog website.

urls = {}
urls[0] = "index.rst"
urls[1] = "category/blog_entry.rst"

stylesheet = "http://blog.example.com/my.css"
